$fontFamily: "Inria Sans", sans-serif;

$bodyBackgroundColor: #0c1a3d;
$calculatorBackgroundColor: #11294f;
$utilityButtonBackgroundColor: #11294f;
$operatorButtonBackgroundColor: #97323f;
$borderRadius: 6px;
$gap: 6px;

$displayBackgroundColor: #19345d;
$displayTextColor: #fff;
$displayTextShadow: 2px 2px 0 rgb(24, 33, 60);
$displayTextSize: 2.5rem;

$buttonBackgroundColor: #18213c;
$buttonTextColor: rgba(255, 255, 255, 0.7);
$buttonTextShadow: 2px 2px 0 rgb(25, 52, 93);

$utilityButtonBackgroundColor: #19345d;
$utilityButtonTextShadow: 2px 2px 0 rgb(24, 33, 60);

$operatorButtonBackgroundColor: #97323f;
$operatorButtonTextShadow: 2px 2px 0 rgb(121, 37, 48);
$operatorActiveButtonBackgroundColor: #612028;
